@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@300&family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-family: Nunito, sans-serif;
    color: #1b2419;
}

header{
    background-color: #496A40;
    padding: 80px;
}

h1, h2{
    color:#ffffff;
    font-family: Nunito, sans-serif;
}

#logo{
    font-size: 275%;
    width:250px;
    height:200px;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
}

#menu{
    font-size: 120%;
    letter-spacing: 4px;
    padding: 10px;
    top: 13%;
}

#menu li{
    clear: both;
    list-style-type: none;
    margin-right:30px;
    float: left;
}

#menu a{
    text-decoration: none;
    color: #ffffff;
}

#menu a:hover{
    background-color: #ffffff;
    color: #1b2419;
}

/*About page*/
/*All images section*/
#all-images{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#arctic-image{
    height: 400px;
    width: 25%;
    background: url('../images/pexels-photo-2574983.jpeg') no-repeat center center;
}
#rainforest-image{
    height: 400px;
    width: 25%;
    background: url('../images/pexels-photo-2739664.jpeg') no-repeat center center;
}

#african-plains-image{
    height: 400px;
    width: 25%;
    background: url('../images/elephant-herd-of-elephants-african-bush-elephant-africa-59989.jpeg') no-repeat center center;
}

#kelp-image{
    height: 400px;
    width: 25%;
    background: url('../images/pexels-photo-11816641.jpeg') no-repeat center center;
}

.column{
    float: left;
    width: 25%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

#cover-text, #cover-text h2{
color: #ffffff;
}

#cover-text{
    font-size: 70%;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 200px;
    height: 175px;

    padding: 30px;
    padding-left: 10px;

    background-color: #1b2419;
    bottom: 30px;
    right: 350px;

    position: absolute;
}

/*About section*/
#information{
    height: 400px;
    width: 20%;
    color: #1b2419;
    border: 2px solid #496A40;
    position: relative;
}

#information h2{
    color: #1b2419;
    font-size: 30px;
    text-align: center;
}
#information p{
    color: #1b2419;
    font-size: 20px;
}

#cheetah-image{
    height: 400px;
    width: 20%;
    background: url("../images/pexels-photo-10399172.jpeg") no-repeat center center;
    border: 2px solid #496A40;
    border-radius: 50%;
}

#protect{
    height: 400px;
    width: 20%;
    color: #1b2419;
    border: 2px solid #496A40;
}

#protect h2{
    color: #1b2419;
    font-size: 30px;
    text-align: center;
}

#protect p{
    color: #1b2419;
    font-size: 20px;
}

.about{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

/*Contact info page*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/pexels-photo-175407.jpeg") no-reply center center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.content-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.left{
    height: 100%;
    background: url("../images/pexels-photo-175407.jpeg") no-repeat center center;
    background-size: cover;
}

.right{
    padding: 25px 40px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.field, .feedback{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: transparent;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 3s;
    color: #ffffff;
}

#message
.feedback:hover{
    background-color: #799276;
}

.feedback:focus{
    background-color: #799276;
    border: 2px solid #1b2419;
}

.options, .help{
    color: #ffffff;
}

.join-button{
    padding: 5px;
    border: 2px solid #1b2419;
    color: #1b2419;
}

/*footer*/
.footer{
    position: fixed;
    text-align: center;
    background-color: #496A40;
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
}
.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 5%;
    padding: 5%;
    color: #ffffff;
}
.footer > h2 {
    text-align: center;
}
