@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@300&family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-family: Nunito, sans-serif;
    color: #1b2419;
}

header{
    background-color: #496A40;
    padding: 50px;
}

h1, h2{
    color:#ffffff;
    font-family: Nunito, sans-serif;
}

#logo{
    font-size: 275%;
    width:250px;
    height:200px;
    position: fixed;
    top: 13%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
}

#list{
    font-size: 100%;
    letter-spacing: 4px;
}