@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@300&family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-family: Nunito, sans-serif;
    color: #1b2419;
}

header{
    background-color: #496A40;
    padding: 80px;
}

h1, h2{
    color:#ffffff;
    font-family: Nunito, sans-serif;
}

#logo{
    font-size: 275%;
    width:250px;
    height:200px;
    position: fixed;
    top: 13%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
}

#menu{
    font-size: 120%;
    letter-spacing: 4px;
    padding: 10px;
    top: 13%;
}

#menu li{
    clear: both;
    list-style-type: none;
    margin-right:30px;
    float: left;
}

#menu a{
    text-decoration: none;
    color: #ffffff;
}

#menu a:hover{
    background-color: #ffffff;
    color: #1b2419;
}


#all-images{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#arctic-image{
    height: 500px;
    width: 33.3%;
    background: url('../images/pexels-photo-2574983.jpeg') no-repeat center center;
}
#rainforest-image{
    height: 500px;
    width: 33.3%;
    background: url('../images/pexels-almoatasem-alaa-el-din-1139429.jpg') no-repeat center center;
}

#african-plains-image{
    height: 500px;
    width: 33.3%;
    background: url('../images/pexels-hendrik-cornelissen-2862070.jpg') no-repeat center center;
}

.column{
    float: left;
    width: 33.3%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

footer{
    background-color: #496A40;
    padding: 60px;
}

footer>h2{
    font-size: 250%;
    width:250px;
    height:200px;
    bottom: 13%;
    position: fixed;
    text-align: center;
}